html {
  overflow-y: scroll;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{   }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
}

@media all and (max-width: 768px) {
    .space {
        height:80px;
    }
}

/* COOKIE */
#cookie {
    position: relative;
}

.cookie-consent-modal {
    width: 30vw;
    margin: 0 5px 50px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;
    display: none;
}

@media all and (max-width: 992px) {
    .cookie-consent-modal {
        margin: 0 20px 50px 20px;
    }
}

@media all and (max-width: 768px) {
    .cookie-consent-modal {
        width: 100vw;
        right: unset;
        left: unset;
        margin: 0 0 80px 0;
    }
}

.cookie-consent-modal.active {
    display: flex;
}
